#{% if config.proxy %}
$proxy			= "{{ config.proxy }}"
#{% endif %}
$build_node_name        = "{{ job.build_node.name }}"
$company_ntp_server	= "{{ config.ntp_server }}"
#{% for node in job.compute_nodes %}
  cobbler_node { "{{ node.name }}": node_type => "compute", mac => "{{ node.mac }}", ip => "{{ node.ip }}", power_address  => "{{ node.power_address }}", power_user => "{{ node.power_user }}", power_password => "{{ node.power_password }}", power_type => "{{ node.power_type }}", power_id => "{{ node.power_id }}" }
#{% endfor %}

# Change control_server to the host name of your control node
node /{{ job.control_node.fqdn }}/ inherits os_base { class { control: crosstalk_ip => '{{ job.control_node.ip }}'} }

# Change compute_server01 to the host name of your first compute node
#{% for node in job.compute_nodes  %}
{{node}}
{{node.ip}}
node /{{ node.fqdn }}/ inherits os_base { class { compute: internal_ip => '{{ node.ip }}', crosstalk_ip => '{{ node.ip }}'} }
#{% endfor %}

