#{% if config.proxy %}
$proxy			= "{{ config.proxy }}"
#{% endif %}
$build_node_name        = "{{ job.build_node.name }}"
$company_ntp_server	= "{{ config.ntp_server }}"
#{% for node in job.compute_nodes %}
  cobbler_node { "{{ job.compute_nodes[node].name }}": node_type => "compute", mac => "{{ job.compute_nodes[node].mac }}", ip => "{{ job.compute_nodes[node].ip }}", power_address  => "{{ job.compute_nodes[node].power_address }}", power_user => "{{ job.compute_nodes[node].power_user }}", power_password => "{{ job.compute_nodes[node].power_password }}", power_type => "{{ job.compute_nodes[node].power_type }}", power_id => "{{ job.compute_nodes[node].power_id }}" }
#{% endfor %}

# Change control_server to the host name of your control node
node /{{ job.control_node.fqdn }}/ inherits os_base { class { control: crosstalk_ip => '{{ job.control_node.ip }}'} }

# Change compute_server01 to the host name of your first compute node
#{% for node in job.compute_nodes  %}
{{node}}
{{node.ip}}
node /{{ job.compute_nodes[node].fqdn }}/ inherits os_base { class { compute: internal_ip => '{{ job.compute_nodes[node].ip }}', crosstalk_ip => '{{ job.compute_nodes[node].ip }}'} }
#{% endfor %}

